body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.308);
    background-color: white;
    position: fixed;
    height: 56px;
    top: 0;
    right: 0;
    left: 0;
}

.search-container {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

.search-bar-row {
    position: relative;
}

.search-bar {
    font-size: 15px;
    padding: 0px 30px 0px 40px;
    width: 400px;
    border-radius: 50px;
    
}

.search-icon {
    position: absolute;
    padding: 0px 10px;
    height: 18px;
    top: 25%
}

.feed-container {
    display: flex;
    justify-content: space-around;
    vertical-align: top;
    align-items: center;
    width: 550px;
}

.feed-container img {
    height: 30px;
    background-color: #F0F2F5;
    padding: 12px 35px;

}

.menu-container {
    width: 300px;
    justify-content: center;
}

.home-feed {
    height: 20px;
    width: px;
}

.menu-container img {
    padding: 10px 10px;
    background-color: #F0F2F5;
    width: 30px;
    border-radius: 30px;
}

.profile-picture {
    background-color: white;
    width: 40px;
}

.search-bar {
    border-radius: 20px;
    border: none;
    background-color: #F0F2F5;
    height: 40px;
    width: 200px;
    margin: auto;
}

.feed-container {
    display: flex;
}

.menu-container {
    display: flex;
}