body {
    background-color: #F0F2F5;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    gap: 20px;
}

a {
    color: black;
    text-decoration: none;
}
