header {
    align-items: center;
    background-color: white;
    border: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.089);
    display: flex;
    height: 56px;
    justify-content: space-between;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
}

.facebook-icon {
    padding: 0 5px 0 10px;
    vertical-align: middle;
}

.search-container {
    align-items: center;
    display: flex;
    flex: 1;
    white-space: nowrap;
}

.search-bar-row {
    position: relative;
}

.search-bar {
    border: none;
    border-radius: 50px; 
    font-size: 14px;
    padding: 0 0 0 40px;
    transition: all .25s; 
    -o-transition: all .25s; 
    -moz-transition: all .25s; 
    -webkit-transition: all .25s;
}

input:focus {
    outline: none;
}

.search-icon {
    height: 17px;
    padding: 0 10px;
    position: absolute;
    top: 25%;
}

.feed-container {
    align-items: center;
    display: flex;
    gap: 8px;
    padding-left: 13px;
}

.feed-container img {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 27px;
    padding: 11px 51px;
    transition: background-color .1s;
    vertical-align: middle;
}

.feed-container img:hover {
    background-color:#F0F2F5;
}

.feed-container .home-feed{
    border-bottom: solid;
    border-color: rgb(0, 120, 233);
    border-radius: 0;
    padding: 13px 51px;
}

.feed-container .home-feed:hover {
    background-color: white;
}

.menu-container {
    flex: 1;
    gap: 7px;
    justify-content: right;
    padding-right: 17px;width: 300px;
}

.menu-container a {
    background-color: #e9e9e9;
    border-radius: 100px;
    padding: 6px 11.5px 9.1px;
}

.menu-container img {
    height: 17px;
    vertical-align: middle;
}

.menu-container .menu-icon {
    height: 23px;
    vertical-align: top;
}

.menu-container .profile-picture {
    border-radius: 30px;
    height: 40px;
}

.menu-container .profile-anchor {
    height: 40px;
    padding: 0;
    
}

.menu-container .menu-anchor {
    padding: 8px 8.5px;
}

.profile-picture {
    border-radius: 20px;
    width: 40px;
}

.search-bar {
    background-color: #F0F2F5;
    border: none;
    border-radius: 20px;
    height: 40px;
    margin: auto;
    width: 200px;
}

.feed-container {
    display: flex;
}

.menu-container {
    display: flex;
}

@media screen and (max-width: 1280px){
    .search-bar {
        width: 0;
    }
}

@media screen and (max-width: 1000px) {
    .feed-container {
        display: none;
    }
}