.right-nav {
    bottom: 0px;position: fixed;
    font-size: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    right: 8.5px;
    top: 60px;
    transition: all .25s linear; 
    -o-transition: all .25s linear; 
    -moz-transition: all .25s linear; 
    -webkit-transition: all .25s linear;
    width: 343px;
}

.right-nav hr {
    background-color: #cecece;
    width: 335px;
}

.right-nav::-webkit-scrollbar {
    display: none;
  }

.online-status {
    background-color: rgb(0, 145, 31);
    border-radius: 5px;
    height: 8px;
    position: absolute;
    width: 8px;
  }

.sponsor-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    padding-left: 8px;
}

.sponsored-column {
    display: flex;
    flex-direction: column;
}
.sponsored-post, .sponsored-post-two {
    display: flex;
    gap: 13px;
}

.sponsored-post:hover, .sponsored-post-two:hover {
    background-color: #d4d4d456;
    border-radius: 8px;
}

.sponsor-image {
    border-radius: 10px;
    height: 130px;
    object-fit: cover;
    transition: all .25s linear; 
    -o-transition: all .25s linear; 
    -moz-transition: all .25s linear; 
    -webkit-transition: all .25s linear;
    width: 130px;
}

.sponsored-post, .sponsored-post-two {
    padding: 8px 7px;
}

.sponsor-post-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sponsor-post-text .sponsor-name {
    font-weight: 500;
    margin: 0px;
}

.sponsor-link {
    color: #707070;
    font-size: 14px;
}

.birthdays-column {
    align-items: center;
    display: flex;
    gap: 13px;
    padding-left: 8px;
}

.birthdays-column span{
    font-weight: 500;
}

.present-icon {
    height: 36px;
}

.birthday-title {
    color: #707070;
    font-size: 18px;
    font-weight: 500;
    margin: 14px 8px 7px;
}

.birthdays-column:hover {
    background-color: #d4d4d456;
    border-radius: 8px;
}

.contacts-column {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.contacts {
    align-items: center;
    display: flex;
    font-weight: 500;
    gap: 13px;
    padding-left: 8px;
    position: relative; 
}

.contacts:hover  {
    background-color: #d4d4d456;
    border-radius: 8px;
}

.group-conversation:hover {
    background-color: #d4d4d456;
    border-radius: 8px;
    z-index: -2;
}

.group-conversation:hover 
    .image-two {
        z-index: -1;
    }

.contacts img {
    border-radius: 20px;
    height: 36px;
    object-fit: cover;
    width: 36px;
}

.contacts-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.contacts-title {
    color: #707070;
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0 0 8px;
}

.contacts-icons {
    align-items: center;
    display: flex;
    gap: 23px;
}

.contacts-icons img {
    height: 18px;
}

.contacts-icons .new-call-icon {
    height: 14px;
    width: 19px;
}

.group-conversation {
    align-items:flex-end;
    display: flex;
    gap: 26px;
}

.group-conversations-title {
    color: #707070;
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
    padding-bottom: 5px;
    padding-left: 8px;
}

.group-conversation-profiles {
    padding-left: 8px;
    position: relative;
}

.group-conversation-members {
    font-weight: 500;
}

.group-conversation img {
    border-radius: 20px;
    height: 24px;
    object-fit: cover;
    width: 24px;
}

.group-conversation .online-status {
    bottom: 5px;
    right: -10px;
  }

.image-two {
    left: 21px;
    position: absolute;
    top: -13px;
    z-index: -1;
}

.create-new-group-row {
    align-items: center;
    display: flex;
    gap: 13px;
    padding-left: 8px;
    vertical-align: middle;
}

.create-new-group-icon {
    background-color: #e4e4e4;
    border-radius: 100px;
    font-size: 24px;
    height: 36px;
    margin: 10px 0px;
    text-align: center;
    width: 36px;
}

.create-new-group {
    font-weight: 500;
    margin: 0px;
}

.contacts .online-status {
    border: solid #e4e4e4 2px;
    border-radius: 8px;
    bottom: 6px;
    left: 31px;
}

.create-new-group-row:hover {
    background-color: #d4d4d456;
    border-radius: 8px;
}

.create-new-group-row:hover 
    .create-new-group-icon{
    background-color: #dadada;
}

@media screen and (max-width: 1460px) {
    .right-nav {
        width: 250px;
    }

    .sponsor-image {
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 925px) {
    .right-nav {
        display: none;
    }
}

